<!-- Enter login id <input type = "text" [(ngModel)] = 'loginId'><br/>
Enter password <input type = "password" [(ngModel)] = 'password'><br/>
<button (click) = 'loginSubmit()'>Login</button> -->


<!-- #loginForm is a reference to this form -->
<!-- when button inside the form is pressed, loginForm() is fired -->
<!-- 
    reference and method name should be different i.e. 
    #loginForm and loginSubmit2() 
-->
<!-- 
    name attribute gives the name of the property, i.e. 
    #loginForm object has 2 properties names loginId and password 
    loginForm = {loginId: 'XXXXX', password: 'XXX'} 
-->

<!-- 
    loginId is used in backend while #loginId is used in html
 -->
<form #loginForm="ngForm" (ngSubmit)="loginSubmit2(loginForm.value)" novalidate>
    <fieldset class="ms-5">
        <div class="form-group col-sm-3">
            <label for="exampleInputEmail1" class="form-label mt-4">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
                ngModel #email=ngModel required minlength="2"placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">
                <div *ngIf="email.errors?.required && email.touched">Please enter your email</div>
                <div *ngIf="email.errors?.minlength">Please enter minimum 2 chars in the email</div>
            </small>
        </div>
        <div class="form-group col-sm-3">
            <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" ngModel
                #password=ngModel required minlength="2" maxlength="10" placeholder="Password">
            <small id="passwordHelp" class="form-text text-muted">
                <div *ngIf="password.errors?.required && password.touched">Please enter the password</div>
                <div *ngIf="password.errors?.minlength">Please enter minimum 2 chars in the password</div>
            </small>
        </div>
        <button type="submit" class="btn btn-primary mt-4" [disabled]="!loginForm.valid">Login</button>
    </fieldset>
</form>

<!-- <form #loginForm = "ngForm" (ngSubmit) = "loginSubmit2(loginForm)" novalidate>
    Enter login id <input type = "email" name = "email" ngModel #email = ngModel required minlength="2" maxlength="10"><br/>
    Enter password <input type = "password" name = "password" ngModel #password = ngModel required minlength="2" maxlength="10"><br/>
    <button (click) = 'loginSubmit()'>Login</button>
</form>

<div>
    <div *ngIf = "email.errors?.required && email.touched">Please enter your email</div>
    <div *ngIf = "password.errors?.required && password.touched">Please enter the password</div>
    <div *ngIf = "email.errors?.minlength">Please enter minimum 2 chars in the email</div>
    <div *ngIf = "password.errors?.minlength">Please enter minimum 2 chars in the password</div>
</div> -->