<h1> Welcome to Demo Component</h1>

<!-- interpolation -->
<!-- Your name is : {{name}}<br /> 
Your age is : {{age}}<br /> 
Your salary is : {{salary}}<br />
Marrital status is : {{isMarried}}<br /> -->

Your name is : {{person.name}}<br />
Your age is : {{person.age}}<br />
Your salary is : {{person.salary}}<br />
Marrital status is : {{person.isMarried}}<br />

Hobbies are : <br />

<!-- ngFor Directive (same as for loop) -->
<ul>
    <li *ngFor="let hobby of hobbies">{{hobby}}</li>
    <!-- hobbies is the array name defined in ts file, hobby is just a variable, it can be renamed -->
</ul>

<!-- add FormsModule in app.module.ts for using ngModel -->
Enter text here : <input type="text" [(ngModel)]="message"> {{message}} <br />

<button (click)="showMessage()">Click Me</button>